html {
    height: 100%
}
body {
    background-color: #e7e7e7;
    height: 100%;
    margin: 0px;
    /*padding: 0.1em;*/
}

.wrapper {
    display:table;
    width:100%;
    height:100%;
}

.header {
    display:table-row;
    height: 4em;
    background: tomato;
}

.footer {
    display:table-row;
    height: 2em;
    background: lightgreen;
}

.main {
    display:table;
    width:100%;
    height: 100%;
}
.main > section, .main > aside {
    display: table-cell;
}

.aside {
    width: 20%;
    height: 100%;
    background: gold;
}

.content {
    width: 80%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-2 {
    flex: 2 0 0px !important;
}
.flex-3 {
    flex: 3 0 0px !important;
}
.flex-4 {
    flex: 4 0 0px !important;
}

.grid {
    display: flex;
    height: 100%;
}
.item {
    flex: 1 0 0px;
    display: flex;
    justify-content: center;
    /*padding: 2px;*/
    border: solid 1px #e7e7e7;
    border-radius: 2px;
    background: lightgray;
    margin: 1px;
}
/*@media all and (min-width: 600px) {*/
    /*.aside { flex: 1 auto; }*/
/*}*/

/*@media all and (min-width: 800px) {*/
    /*!*.main    { flex: 3 0px; }*!*/
    /*.aside-1 { order: 1; }*/
    /*.main    { order: 2; }*/
    /*.aside-2 { order: 3; }*/
    /*.footer  { order: 4; }*/
/*}*/


/*.container {*/
    /*display: flex; !* or inline-flex *!*/
    /*flex-direction: row wrap;*/
    /*justify-content: space-around;*/
    /*background-color: #0b97c4;*/
    /*height: 100vh;*/
/*}*/

/*.item {*/
    /*flex-grow: 1; !* default 0 *!*/
    /*background-color: #7a43b6;*/
    /*height: 200px;*/
    /*padding: 10px;*/
    /*border: 1px solid black;*/
/*}*/

text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body, #chart1, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.dashed {
    stroke-dasharray: 5,5;
}